.header{text-align:center; border-bottom:1px solid #D7D7D7;height:2.25rem;width:100%;line-height:2.25rem;position:relative;font-size:.9rem;margin-top: .6rem;}
.con{text-align:center;font-size:.85rem;line-height:2rem;}
.finish{position:absolute;right:.5rem;top:0;font-size:.8rem;color:#1ABC9C;}
.picBox{width:2.5rem;height:2.5rem;display:block;margin:1rem auto;}
.picBox img{width:100%;height:100%;}
.time{font-size:1.2rem;}
.icon{width:3rem;height:3rem;margin:1.5rem auto .5rem auto;display:block;}
.succ{background:url("../assets/succ.png");background-size:100% 100%;}
.fail{background:url("../assets/fail.png");background-size:100% 100%;}
.dec{font-size:.6rem;color:#A9A9A9;}
.type{line-height:4rem;}
